#cuenta {
	display:flex;
	justify-content: center;
	margin-bottom: 100px;
}

.simply-section {
	background: #fff;
	width: 50px;
	height: 50px;
	margin: 0 20px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.simply-amount {
	display: block;
	font-size: 20px;
	font-weight: 700;
}

.simply-word {
	font-weight: 100;
	font-size: 13px;
}

.portada {
	width: 100%;
	background: black;

	min-height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
  margin: 100 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: .5s ease-out all;
}

.portada.oculta {
	transform: translateY(100%);
}

.portada .header {
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.portada .header .logotipo {
	font-size: 50px;
	font-size: 900;
	margin-bottom: 20px;
}

.portada .header .mensaje {
	font-size: 30px;
	font-weight: 600;
}

/* ? ----- REDES SOCIALES ----- */
.redes-sociales .btn-red-social {
	padding: 15px 0;
	display: inline-block;
	min-width: 120px;
	border-radius: 5px;
	background: #FF0000;
	color: #fff;
	font-size: 30px;
	margin: 0 20px;
	transition: .3s ease all;
}

.redes-sociales .btn-red-social:hover {
	box-shadow: 0px 0px 50px 10px rgba(0,0,0,.15);
}

.heart{
  position: relative;
  height: 100px;
  width: 100px;
  background: white;
  display: flex;
  border-radius: 0 0 0 10px;
  transform: rotate(-45deg);
  cursor: pointer;
}

.heart::before{
  position: absolute;
  content: "";
  top: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 50%;
}
.heart::after{
  position: absolute;
  content: "";
  right: -50%;
  top: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 50%;
}

.heart.fill-color{
  background-color: red;
}

.animation-heart{
  position: absolute;
  display: flex;
  width: 100px;
  height: 100px;
  background: red;
  transform: rotate(-45deg);
  border-radius: 0 0 0 10px;
  cursor: pointer;
  visibility: hidden;
}

.animation-heart.animation{
  animation: popup .8s linear;
  visibility: visible;
}

.animation-heart::after{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: -50%;
  right: 0;
  background: inherit;
  border-radius: 50%;
}
.animation-heart::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  right: -50%;
  background: inherit;
  border-radius: 50%;
}

@keyframes popup{
  100%{
    transform: scale(1.5) rotate(-45deg);
    opacity: 0;
  }
}